<p-toast></p-toast>

<div class="flex justify-content-center align-items-center min-h-screen surface-ground p-4">
    <div class="surface-card p-6 shadow-2 border-round-xl w-full md:w-30rem">
        
        <div class="text-center mb-5">
            <h1 class="text-900 text-3xl font-bold mb-2">Update Details</h1>
            <p class="text-600 m-0">Please update your details</p>
        </div>

        <div class="flex flex-column gap-4">
            
            <p-floatLabel>
                <input pInputText id="fname" type="text" class="w-full custom-input" 
                       [(ngModel)]="user.firstName" name="firstName" required />
                <label for="fname">First name</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="lname" type="text" class="w-full custom-input" 
                       [(ngModel)]="user.lastName" name="lastName" required />
                <label for="lname">Last name</label>
            </p-floatLabel>

            <p-floatLabel>
                <input pInputText id="address" type="text" class="w-full custom-input" 
                       [(ngModel)]="user.address" name="address" />
                <label for="address">Address</label>
            </p-floatLabel>

            <p-floatLabel>
                <p-inputMask 
                    id="phone" 
                    mask="(999) 999-9999" 
                    [(ngModel)]="user.phoneNumber" 
                    name="phoneNumber"
                    styleClass="w-full custom-input">
                </p-inputMask>
                <label for="phone">Phone Number</label>
            </p-floatLabel>

            <p-button 
                label="Update Details" 
                styleClass="w-full p-3 border-round-xl font-bold mt-2"
                [disabled]="!isFormValid()"
                (onClick)="onSubmit()">
            </p-button>
        </div>
    </div>
</div>